<h1 id="headfix">

<div class="header">

<span id="head">
<span class="daily">D</span>aily <span class="daily">D</span>iary
</span>

<div id="title">
<a href="#">Hi,<%= name %></a>
<a href="/logout">Logout</a>
</div>

</div>

</h1>