<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    
    
    <!--Links for login form-->
  
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
  
    
    
    <!--Customize Stylesheet-->
    <link href="stylesheet.css" rel="stylesheet" type="text/css" media="all">
    


    
</head>
<body>





 <!-----start-main---->
	 <div class="main">
		   <div class="login-form">
			<h1>If You New Member? Go to sign up</h1>
					
					<div class="head">
						<img src="images/user.png">
					</div>
                    	
                       
                        <a href='/signin'><input type="submit" onclick="myFunction()" value="LOGIN" class="submitt"></a>
                        <a href='/signup'><input type="submit" onclick="myFunction()" value="SIGNUP" class="submitt"></a>    
                        
                        
                
              
                
			</div>
			<!--//End-login-form-->
         
		</div>
			 <!-----//end-main---->






</body>
</html>