#title{
	float: right;
	margin-right: 20%;
	font-size: 21px;
	font-weight: bolder;	
}
#posthead{
	text-align: center;
}

#postarea{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#writepost{
	text-align: center;
}